aside {
    width: 20%;
}
select:focus,
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
    border-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 1px 1px rgba(255, 255, 255, 0.07) inset, 0 0 5px rgb(255, 255, 255);
    outline: 0 none;
}
.flex-form{
    max-height: 60vh;
    overflow:auto;
}
.flex-form img{
    width: 60px;
    height: 10px;
}
.hidden{
    display: none;
}
