header{
  min-height: 4em;
}
aside{
width: 20%;
}
main{
  width: 80%;
}
footer{
  min-height: 4em;
  background-color: rgb(9, 241, 152);
  flex-shrink: 0;
}
.App{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.cont{
  flex: 1 0 auto;
  display: flex;
  flex-direction: row;
}
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 1px 1px rgba(255, 255, 255, 0.07) inset, 0 0 5px rgb(255, 255, 255);
  outline: 0 none;
}
